@font-face {
  font-family: EdgeOfTheGalaxy ;
  src: url(EdgeOfTheGalaxy-Reg.otf);
}

html, body {
  	margin: 0;
  	padding: 0;
	height: 100%;
}

main {
	float:left;
}

canvas {
	display: block;
}

html { 
	display: table;
	margin: auto;
}

body {
	background-color:#000000;
	display: table-cell;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	color:#ffffff;
}

.space_font {
	font-family: EdgeOfTheGalaxy;
	font-size: 72px;
	font-weight:normal;
}

#login {
    top: 1px;
    position: absolute;
    text-align: left;
}
#login div {
	height: 30px;
}

#message-container div{
	height:auto;
}